body{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
h1{
    margin-top: 50px !important;
    margin-bottom: 25px !important;
    background-color: rgb(13, 94, 94);
    border-radius: 5px;
    color: white;
    text-align: center;
}